.NavBar {
    display: block;
    position: absolute;
    right: 0;
    height: 100%;
    width: 17vw;
    background-color: #23282c;
}
/* .logo {
    background-color: #ffffff;
    position: relative;
    right: -10px;
    width: 16vw;
} */
.navigator {
}
.menu {
    color: #ffffff;
}
.menu li {
    transition-duration: 0.5s;
    list-style-type: none;
}
.menu li:hover {
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: #353c42
}
.toppest {
    margin-bottom: 20%;
}
.bottomest {
    margin-top: 20%;
}